
@{
    ViewBag.Title = "Dashboard";
}

<div class="pd-ltr-20">
    <div class="card-box pd-20 height-100-p mb-30">
        <div class="row align-items-center">
            <div class="col-md-4">
                <img src="~/Content/app/images/banner-img.png" alt="">
            </div>
            <div class="col-md-8">
                <h4 class="font-20 weight-500 mb-10 text-capitalize">

                    Welcome back! <div class="weight-600 font-30 text-blue">@Model.FirstName @Model.LastName </div>
                </h4>
                <p class="font-18 max-width-600">Thank you for choosing us. We hope you have a wonderful experience on our portal.</p>
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/app")

<script>
    $.ajax({
        url: "/App/GetUserData",
        cache: false,
        success: function (data) {

            // used for Balance in navigation bar top right
            document.getElementById('currentbalancenav').innerHTML = (Math.round(data.balance * 1 * 100) / 100).toFixed(2);
        }
    })</script>
